# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# -----------------------------------------------------------------------------
# 1. Dependencies
node_modules/
.pnpm-store/

# -----------------------------------------------------------------------------
# 2. Next.js/Build
.next/
out/
build/
dist/
.swc/
.next/analyze/

# -----------------------------------------------------------------------------
# 3. Environment Variables
.env*
!.env.example

# -----------------------------------------------------------------------------
# 4. IDEs and Editors
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# -----------------------------------------------------------------------------
# 5. Operating System Files
.DS_Store
Thumbs.db

# -----------------------------------------------------------------------------
# 6. Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# -----------------------------------------------------------------------------
# 7. Testing
coverage/
.jest-cache/

# -----------------------------------------------------------------------------
# 8. Miscellaneous
*.pem
*.tmp
*.bak

# -----------------------------------------------------------------------------
# 9. Lock files (exclude if you're not committing them)
pnpm-lock.yaml
yarn.lock
package-lock.json

# -----------------------------------------------------------------------------
# 10. Other tools
.eslintcache
.envrc
.cache/
.turbo/
.vercel/

# -----------------------------------------------------------------------------
# 11. TypeScript
*.tsbuildinfo

# -----------------------------------------------------------------------------
# 13. Prisma
/app/generated/prisma

# -----------------------------------------------------------------------------
# 14. Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
